NODE_ENV=production
PORT=3000
HOST=0.0.0.0

CONTACT_TO=Tillscheidegget@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=Tillscheidegget@gmail.com
SMTP_PASS=ichc iygs cnkq dctn
SMTP_FROM=tillscheidegget@gmail.com

ADMIN_USER=admin
ADMIN_PASSWORD=MeinNeuesAdminPasswort2026!
SESSION_SECRET=EIN_LANGER_ZUFAELLIGER_SECRET

# Für Hosts mit persistentem Speicher:
DATA_DIR=/data
